body{
	background: #424242;

}

header{
	background-color: black;
	height: 50px;
	border-radius: 5px;
	font-family: ubuntu;	
}

h3{
	float: left;
	color: white;
	margin-left: 20px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float:left;
    margin-left: 40%;

}
li {
    float: left;
    
}
a:link, a:visited {
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    margin-left: 20px;
}




a, a:visited {
	text-decoration:none;
	outline:none;
	color:#54a6de;
}

a:hover{
	text-decoration:underline;
}



#imgLogin{
	background-color: black;
	border-radius: 190px;
	width: 90px;
	height: 90px;
	float: left;
	margin-left: 110px;
	margin-top: 10px;

}



#login{
	width: 300px;
	height: 300px;
	margin: auto;
	margin-top: 10%;
	background-color: black;
	border-radius:10px;

}

form{
margin-left: 60px;
text-align: center;
float: left;
color: white;
margin-top: 20px;
font-family: ubuntu;

}
input{
	float: left;
	border-radius: 10px;
	margin-top: 5px;
	
}
button{
	float: left;
	margin-left: 80%;
	margin-top: 20px;
	border-radius: 5px;
	background-color: white;
	font-family: ubuntu;
	color: black;
}




<!--Dasboard-->

.linea{
border: 1px solid #2E2E2E; 
border-radius: 300px/10px; 
height: 0px; 
width: 90%;
text-align: center;
}

#imgPerfil{
    background-color: black;
	border-radius: 190px;
	width: 40px;
	height: 40px;
	float: left;
	margin-left: 110px;
	
}

#Logodasboard{
	width: 20em;
	height: 7em;
	background-color: black;
	margin-left:60em;
	margin-top: 3em;
}

#imglogo{
	background-color: black;
	border-radius: 190px;
	width: 150px;
	height: 145px;
	float: left;
	margin-left: 14em;
	margin-top: -2em;
	

}
#tab1 h2{
	background-color:#ffc40d;
	color:#fff;
}
#tab2 h2{		
	background-color:#53bfe2;
	color:#2884a2;
}
#tab3 h2 {	
	background-color:#ee1111;
	color:#ab8426;
}
#tab4 h2 {	
	background-color:#f8c54d;
	color:#ab8426;
}
	
article.tabs
{
	position: relative;
	display: inline;
	width: 15em;
	height: 20em;
	font-family: ubuntu;
}

article.tabs section
{
	position: absolute;
	top: 10em;
	width: 70em;
	height: 130em;
	background-color:#fff;
	box-shadow: 0 3px 3px rgba(0,0,0,0.1);
	z-index: 0;
	border-radius: 0px 10px 10px 10px;
	margin-left: 5em;
}
article.tabs section:first-child
{
	z-index: 1;
}
article.tabs section h2
{
	position: absolute;
	font-size: 0.7em;
	font-weight: normal;
	width: 6em;
	height: 2.5em;
	border-radius: 0px 10px 10px 10px;
	top: -3em;
	margin: 0;
	color: #fff;
	background-color:#fff;	
}

article.tabs section:nth-child(2) h2
{
	left: 75px;
}

article.tabs section:nth-child(3) h2
{
	left: 150px;
}
article.tabs section:nth-child(4) h2
{
	left: 225px;
}




article.tabs section h2 a
{
    margin: 0 auto;
	line-height: 1.6em;
	text-decoration: none;
	color: white;
	outline: 0 none;
	display: block;
	
	
}
article.tabs section:target,
article.tabs section:target h2
{
	color: #333;
	background-color: black;
	z-index: 2;
}

article.tabs section,
article.tabs section h2
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}









/*----------------------------
	The Navigation Menu
-----------------------------*/


#colorNav > ul{
	width: 600px; /* Increase when adding more menu items */
	margin:0 auto;
	margin-top: 3em;
	margin-left: 25em;
}

#colorNav > ul > li{ /* will style only the top level li */
	list-style: none;
	margin: 7px;
	position:relative;
	width: 10em;
	height: 3em;
	border-radius:  0px 10px 10px 10px;
	font-family: ubuntu;
}

#colorNav > ul > li > a{
	color:white;
	text-decoration:none !important;
	font-size:25px;
	margin: 0 auto;
	padding-top: 1px;
	
}
#colorNav ul li  h2{
	color:White;
	font-size:15px;
	text-align: center;
	margin-top: -8px;
	
}



#colorNav li ul li{
	background-color:#313131;
	margin-left:5px;
	display: inline;
	border-radius: 20px;
	

}

#colorNav li ul li a{
	padding: 5px;
	color:#fff !important;
	text-decoration:none !important;
	

}





/*----------------------------
	Color Themes
-----------------------------*/


#colorNav li.green{
	/* This is the color of the menu item */
	background-color:#00a300;
	
	/* This is the color of the icon */
	color:#127a5d;
}

#colorNav li.red{		background-color:#ea5080;color:#aa2a52;}
#colorNav li.blue{		background-color:#53bfe2;color:#2884a2;}
#colorNav li.yellow{	background-color:#f8c54d;color:#ab8426;}
#colorNav li.purple{	background-color:#df6dc2;color:#9f3c85;}


/*----------------------------
	The Footer
-----------------------------*/
